<?xml version="1.0" encoding="UTF-8"?>
<web:web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <web:servlet-name>AJAXFileUploadApp</web:servlet-name>
  <servlet>
    <web:servlet-name>File Upload Servlet</web:servlet-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.bye.project.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>fileUpload.html</welcome-file>
  </welcome-file-list>
</web:web-app>